link(rel="stylesheet", href="style.css")

p test lorem

//- pre #{ JSON.stringify(public, null, '\t') }

- var y = 0;
- var x = 0;

table
  while y < 10
    tr
      while x < 10
        td(data-x=x)
        - x++
      - x = 0
      - y++